@import '../../../variables.scss';

.articleStatistics {
	display: flex;
	flex-direction: column;

	canvas {
		height: 300px !important;
	}
}

.smallCharts {
	display: flex;
}

.smallChart {
	width: 50%;
}

.bigChart {
	width: 100%;
}

.title {
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: $dark-gray;
	font-size: 1.2rem;
}

.button {
	align-self: flex-end;
	margin-bottom: 10px;
}

@media (max-width: 600px) {
	.smallCharts {
		flex-direction: column;
	}

	.smallChart {
		width: 100%;
	}

	.button {
		align-self: center;
	}
}