@import '../../../variables.scss';

.article {
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	position: relative;
	height: 200px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 250px;
}

.title {
	color: white;
	font-size: 1.5rem;
	text-shadow: 2px 2px 5px black;
	font-weight: bold;
	margin: 5px;
	height: 115px;
	overflow: hidden;
}

.buttons {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}