@import '../../../variables.scss';

.authorDetails {
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.authorImage {
	width: 128px;
	height: 128px;
	cursor: pointer;
	border-radius: 50%;
	object-fit: cover;
}

.authorName {
	padding: 10px;
}

.header {
	font-weight: bold;
	color: $dark-gray;
}

.name {
	font-weight: bold;
	color: $darker-gray;
	font-size: 1.2rem;
	cursor: pointer;
}

.favImage {
	width: 64px;
	height: 64px;
	align-self: center;
}

@media (max-width: 600px) {
	.authorDetails {
		flex-direction: column;
	}
}