@import '../../variables.scss';

.userProfile {
	max-width: 1200px;
	margin: 0 auto;
	height: calc(100vh - 76px);

	h3 {
		padding: 20px 0;
	}

	img {
		height: 350px;
		width: 350px;
		margin: 0 auto;
		display: block;
		border-radius: 50%;
		object-fit: cover;
	}
}

.name {
	font-size: 1.7rem;
	color: $darker-gray;
	padding: 20px 0;
	font-weight: bold;
}

.articles {
	display: flex;
	flex-wrap: wrap;
}

.article {
	height: 250px;
	flex-basis: calc(33.333% - 10px);
	margin: 5px;
}
@media (max-width: 900px) {
	.article {
		flex-basis: calc(50% - 10px);
	}
}

@media (max-width: 600px) {
	.userProfile {
		img {
			height: 256px;
			width: 256px;
		}
	}

	.articles {
		justify-content: center;
	}

	.article {
		flex-basis: calc(90% - 10px);
	}
}