@import '../../variables.scss';

.UserSettings {
	max-width: 1200px;
	margin: 0 auto;
	height: calc(100vh - 76px);
	display: flex;
	flex-direction: column;

	h3 {
		padding: 20px 0px 0px 20px;
	}

	img {
		margin: 0 auto;
		width: 128px;
		height: 128px;
		object-fit: cover;
		display: block;
		border-radius: 50%;
	}

	input[type="file"] {
		display: none;
	}
}

.label {
	display: block;
	margin: 10px auto;
	background-color: $light-blue;
	border-radius: 10px;
	padding: 2px 20px;
	color: white;
	font-weight: bold;
}

.button {
	align-self: flex-end;
}