@import '../../variables.scss';

.form {
	width: 100%;
	min-width: 300px;
	min-height: 200px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	// Firefox scrollbar
	scrollbar-color: $dark-gray $light-gray;
	scrollbar-width: thin;
}

.form::-webkit-scrollbar {
	width: 5px;
}
  
.form::-webkit-scrollbar-track {
	background: $light-gray;
}
  
.form::-webkit-scrollbar-thumb {
	background: $dark-gray;
}
 
.form::-webkit-scrollbar-thumb:hover {
  background: $darker-gray;
}

.error {
	font-weight: bold;
	color: $red;
}