@import '../../../variables.scss';

.article {
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	position: relative;
}

.category {
	color: white;
	font-size: 1rem;
	font-weight: bold;
	text-shadow: 2px 2px 5px black;
	margin: 5px 0px -5px 5px;
}

.title {
	color: white;
	font-size: 1.5rem;
	text-shadow: 2px 2px 5px black;
	font-weight: bold;
	margin: 5px;
}

.button {
	position: absolute;
	bottom: 15px;
	right: 15px;
	border: none;
	outline: none;
	font-size: 1rem;
  	font-weight: bold;
  	background: white;
  	color: black;
  	padding: 3px 5px;
	border-radius: 5px;
}

.button:hover {
	color: black;
	text-decoration: none;
}