@import '../../variables.scss';

.detailedArticle {
	border: 1px solid $dark-gray;
	display: flex;
	flex-direction: column;
}

.coverPhoto {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 0 auto;
	padding: 10px;
}

.title {
	font-size: 1.3rem;
	color: $darker-gray;
	padding: 0;
	margin: 0;
}

.subtitle {
	font-size: 1.1rem;
	color: $dark-gray;
	padding: 0;
	margin: 0;
}

.button {
	align-self: flex-end;
	margin: 5px;
}