@import '../../variables.scss';

.searchArticles {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.searchArticles>div {
	flex-basis: 32%;
	margin: 5px 5px;
	display: flex;
}

.errorMessage {
	font-weight: bold;
	color: $darker-gray;
	font-size: 1.3rem;
	padding: 50px 10px;
	width: 100%;
	text-align: center;
}

.loadingGif {
	margin: 10px auto;
	display: block;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 5px;
	margin-bottom: 15px;
	margin-top: 10px;

	input {
		flex-basis: 100%;
		margin-right: 10px;
		border: 1px solid $dark-gray;
		color: $dark-gray;
		border-radius: 10px;
		outline: none;
		padding: 3px;
	}
}

@media (max-width: 900px) {
	.searchArticles>div {
		flex-basis: 48%;
	}
}

@media (max-width: 600px) {
	.searchArticles {
		justify-content: center;
	}

	.searchArticles>div {
		flex-basis: 90%;
	}
}