@import '../../../variables.scss';

.background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.9);
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: 50%;
	min-width: 200px;
	background-color: #fff;
	padding: 50px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid $light-gray;
}

.button {
	margin: 0 auto;
}