@import '../../variables.scss';

.categoryArticles, .loading {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.titleBox {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;

	p {
		font-weight: bold;
		font-size: 1.3rem;
		color: $darker-gray;
		padding: 10px;
	}

	img {
		width: 48px;
		cursor: pointer;
	}
}

.loading {
	height: calc(100vh - 76px);
}

.categoryArticles>div {
	flex-basis: 32%;
	margin: 5px 5px;
	display: flex;
}

.errorMessage {
	font-weight: bold;
	color: $darker-gray;
	font-size: 1.3rem;
	padding: 50px 10px;
	width: 100%;
	text-align: center;
}

.loadingGif {
	margin: 10px auto;
	display: block;
}

@media (max-width: 900px) {
	.categoryArticles>div {
		flex-basis: 48%;
	}
}

@media (max-width: 600px) {
	.categoryArticles {
		justify-content: center;
	}

	.categoryArticles>div {
		flex-basis: 90%;
	}
}