@import '../../variables.scss';

.comment {
	border-bottom: 1px solid $light-gray;
	padding: 10px;
}

.comment:last-of-type {
	border: none;
}

.userInfo {
	display: flex;
}

.userData {
	margin: 5px 10px;
}

.userName {
	font-weight: bold;
	font-size: 1.1rem;
	margin: 0px;
	color: $darker-gray;
}

.date {
	font-weight: bold;
	color: $light-gray;
	font-size: .9rem;
}

.userImage {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	object-fit: cover;
}