@import '../../variables.scss';

.articlesContainer {
	h3 {
		padding-top: 20px;
	}

	.title {
		color: $dark-gray;
	}
}

.titleBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.searchIcon {
	width: 48px;
	height: 48px;
	cursor: pointer;
}

.articlesGroup {
	width: 100%;
	display: flex;
}

.articlesLeft, .articlesRight {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.articlesRight>.article:last-child, .articlesLeft>.article:first-child {
	flex: 0 1 100%;
	height: 300px;
}

.article {
	background-clip: content-box;
	padding: 5px;
	height: 400px;
	flex: 0 50%;
	overflow: hidden;
}

@media (max-width: 1200px) {
	.articlesRight>.article:last-child, .articlesLeft>.article:first-child {
		flex: 0 1 100%;
		height: 250px;
	}

	.article {
		height: 300px;
	}
}

@media (max-width: 800px) {
	.articlesGroup {
		flex-direction: column;
	}

	.articlesLeft, .articlesRight {
		width: 100%;
	}

	.articlesRight>.article:last-child, .articlesLeft>.article:first-child {
		flex: 0 1 100%;
	}
}

@media (max-width: 420px) {
	.articlesGroup {
		flex-direction: column;
	}

	.articlesLeft, .articlesRight {
		width: 100%;
	}

	.article {
		flex: 0 1 100%;
		height: 250px;
	}
}