@import '../../../variables.scss';

.button {
	border: none;
	padding: 5px 25px;
	width: fit-content;
	border-radius: 15px;
	font-weight: bold;
	font-size: 1rem;
	outline: none;
}

.button:hover {
	cursor: pointer;
}

.green {
	background-color: $light-green;
	color: white;
}

.green:hover {
	background-color: darken($color: $light-green, $amount: 10%);
}

.red {
	background-color: $red;
	color: white;
}

.red:hover {
	background-color: darken($red, 10%);
}

.blue {
	background-color: $light-blue;
	color: white;
}

.blue:hover {
	background-color: darken($light-blue, 10%);
}