@import '../../variables.scss';

.article {
	max-width: 1200px;
	margin: 0 auto;
	height: calc(100vh - 76px);
	padding: 10px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.favImage {
	width: 64px;
	height: 64px;
}

.title {
	padding: 20px 0px 10px 0px;
	color: $darker-gray;
	font-size: 2rem;
}

.subtitle {
	padding-bottom: 10px;
	color: $dark-gray;
	font-size: 1.2rem;
}

.coverPhoto {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
	background-size: cover;
	background-position: center;
}

.content {
	display: flex;
}

.articleText {
	flex: 2;
	padding: 30px 10px;

	h1, h2, h3, h4, h5, h6 {
		margin: 20px 0px 10px 0px;
	}

	img {
		max-width: 100%;
	}
}

.proposed {
	flex: 1;
	padding: 20px;

	h3 {
		font-size: 1.2rem;
		color: $darker-gray;
		padding: 10px;
	}
}

.proposedArticles>div {
	margin: 10px;
}

@media (max-width: 900px) {
	.content {
		flex-direction: column;
	}

	.proposedArticles {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.proposedArticles>div {
		flex-basis: 48%;
		margin: 10px 0px;
	}
}

@media (max-width: 600px) {
	.article {
		padding: 0px;
	}

	.proposedArticles {
		justify-content: center;
	}

	.proposedArticles>div {
		flex-basis: 90%;
	}

	.title {
		font-size: 1.5rem;
	}

	.favImage {
		width: 48px;
		height: 48px;
	}
}