@import '../../variables.scss';

.home {
	max-width: 1200px;
	margin: 0 auto;
	height: calc(100vh - 76px);
}

.errorMessage {
	font-weight: bold;
	padding: 50px 10px;
	width: 100%;
	text-align: center;
	color: $darker-gray;
	font-size: 1.3rem;
}