@import '../../variables.scss';

.navbar {
	height: 76px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid $darker-gray;
	position: fixed;
	width: 100vw;
	background-color: white;
	top: 0px;
	z-index: 1000;
}

.logo {
	height: 100%;
	padding: 5px;
}

.logo:hover {
	cursor: pointer;
}

.navigation, .userNavigation {
	display: flex;
	align-items: center;
}

.userNavigation {
	flex-direction: row;
	align-items: center;
}

.dropdownToggle {
	background-color: white !important;
	border: none !important;
	color: $darker-gray !important;
}

.dropdownToggle:focus {
	box-shadow: none !important;
}

.category, .link {
	color: $darker-gray;
	margin: 0px 15px;
	line-height: 36px;
}

.category:hover, .link:hover {
	color: darken($darker-gray, 100);
	text-decoration: none;
}

.user {
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 50%;
}

.userDropdownMenu {
	position: absolute !important;
	left: -50px !important;
}

@media (max-width: $mobileWidth) {
	.navbar, .navigation, .userNavigation {
		flex-direction: column;
		width: 100vw;
	}

	.navbar {
		height: calc(100vh + 60px);
	}

	.show {
		top: 0px;
	}

	.hide {
		top: -100vh;
	}

	.navigation {
		overflow: auto;
		margin-bottom: 60px;
	}

	.user {
		width: 180px;
		height: 180px;
		margin: 15px;
	}

	.button {
		margin: 10px 0;
	}

	.logo, .menuImg {
		position: fixed;
		width: 48px;
		height: auto;
		top: 6px;
		left: 6px;
	}

	.menuImg {
		right: 6px;
		left: calc(100vw - 64px - 6px);
	}
}