@import '../../../variables.scss';

.editArticle {
	display: flex;
	flex-direction: column;
}

.editor, .toolbar {
	border: 1px solid $light-gray;
}

.editor {
	min-height: 300px;
}

input[type="file"] {
	display: none;
}

.label {
	display: block;
	margin: 10px auto;
	border-radius: 10px;
	padding: 2px 20px;
	color: white;
	font-weight: bold;
}

.blue {
	background-color: $light-blue;
}

.red {
	background-color: $red;
}

.buttons {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}