@import '../../variables.scss';

.userProfile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		width: 128px;
		height: 128px;
		object-fit: cover;
		border-radius: 50%;
	}

	p {
		font-size: 1.1rem;
		color: $darker-gray;
		margin: 0;
		padding: 2px;
		font-weight: bold;
	}
}

