@import '../../../variables.scss';

.input {
	width: 100%;
}

.inputHidden {
	height: 0px;
}

.label {
	font-weight: bold;
	color: $light-gray;
	margin: 0px;
}

.inputElement {
	border: none;
	outline: none;
	width: 100%;
	height: 25px;
	border-bottom: 1px solid $dark-gray;
	outline: none;
	display: block;
	color: $darker-gray;
	font-weight: bold;
	background-color: transparent;
	-webkit-appearance: none; 
   	-moz-appearance: none;
   	appearance: none;
}

.select, .inputElement[type="date"] {
	background: url(../../../images/arrow.png) no-repeat right;
}

.inputElement[type="date"]::-webkit-clear-button {
    display: none;
}

.inputElement[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

.inputElement[type="date"]::-webkit-calendar-picker-indicator {
	background: url(../../../images/arrow.png) no-repeat right;
	width: 24px;
	height: 24px;
	color: transparent;
}

.inputElement[type=password] {
	color: $light-green;
	font-size: 1.5rem;
}

.invalid {
	border-bottom: 1px solid $red !important;
}

.error {
	color: $red;
	font-weight: bold;
}