@import '../../../variables.scss';

.comments {
	border: 1px solid $light-gray;
	margin-top: 20px;
}

.commentsNumber {
	width: 100%;
	border-bottom: 1px solid $light-gray;
	padding: 20px;
	font-weight: bold;
	color: $darker-gray;
}

.input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;

	img {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		object-fit: cover;
	}

	input {
		flex-grow: 1;
		margin: 5px;
		padding: 10px;
		border: 1px solid $light-gray;
		border-radius: 10px 0px 10px 0px;
		outline: none;
	}
}

@media (max-width: 600px) {
	.input {
		img {
			display: none;
		}
	}
}