@import '../../variables.scss';

.background {
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: .9;
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	width: 50vw;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	z-index: 1001;
	position: fixed;
	top: calc(50vh - 100px);
	left: calc(50vw - 25vw);
	display: flex;
	flex-direction: column;
	padding: 30px;

	label {
		font-size: 1.3rem;
		padding: 10px 0px;
	}

	select {
		background: url(../../images/arrow.png) no-repeat right;
		border: none;
		outline: none;
		border-bottom: 1px solid $light-gray;
		font-weight: bold;
		background-color: transparent;
		-webkit-appearance: none; 
		-moz-appearance: none;
		appearance: none;
	}

	p {
		width: 100%;
		text-align: center;
		font-size: 1.2rem;
	}
}

.button {
	margin: 20px 0px;
	align-self: flex-end;
}