@import '../../variables.scss';

.userFavourites {
	max-width: 1200px;
	margin: 0 auto;
	height: calc(100vh - 76px);

	h2 {
		font-size: 1.7rem;
		color: $darker-gray;
		padding: 20px 0;
	}

	h3 {
		font-size: 1.5rem;
		color: $dark-gray;
		padding: 10px 0;
	}
}

.message {
	width: 100%;
	font-size: 1.3rem;
	color: $light-gray;
	text-align: center;
}

.favouriteArticles, .favouriteAuthors {
	display: flex;
	flex-wrap: wrap;
}

.article {
	height: 250px;
	flex-basis: calc(33.333% - 10px);
	margin: 5px;
}

.user {
	height: 250px;
	flex-basis: calc(25% - 10px);
	margin: 5px;
}

@media (max-width: 900px) {
	.article {
		flex-basis: calc(50% - 10px);
	}
	
	.user {
		flex-basis: calc(33.333% - 10px);
	}
}

@media (max-width: 600px) {
	.favouriteArticles {
		justify-content: center;
	}

	.article {
		flex-basis: calc(90% - 10px);
	}
	
	.user {
		flex-basis: calc(50% - 10px);
	}
}

@media (max-width: 440px) {
	.favouriteAuthors {
		justify-content: center;
	}

	.user {
		flex-basis: calc(90% - 10px);
	}
}