@import '../../variables.scss';

.auth {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	width: 100vw;
	height: 100vh;
	box-shadow: 0px 0px 120px 5px;
	display: flex;
	background-color: white;
}

.form {
	flex: 1;
	z-index: 2;
	background-color: rgba($color: white, $alpha: .85);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	padding: 10px 0;
}

.loginImage, .registerImage {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
}

.loginImage {
	background-image: url(../../images/login.jpg);
}

.registerImage {
	background-image: url(../../images/register.jpg);
}

.home {
	align-self: flex-end;
	padding: 0px 10px;
}

.home img {
	width: 48px;
	height: 48px;
}

.link {
	text-decoration: none;
	color: $light-gray;
}

.button {
	align-self: center;
}

@media (min-width: 800px) {
	.loginImage, .registerImage {
		position: static;
		flex: 1;
		width: 100%;
		height: 100%;
	}

	.form {
		flex: 2;
	}
}

@media (min-width: 1280px) {
	.auth {
		background-color: $darker-gray;
	}

	.main {
		width: 80vw;
		height: 80vh;
		border-radius: 40px;
	}

	.form {
		flex: 1;
		border-radius: 40px;
	}

	.loginImage {
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
	}

	.registerImage {
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
	}
}