@import './variables.scss';

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body {
	height: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
	width: 5px;
}
  
body::-webkit-scrollbar-track {
	background: $light-gray;
}
  
body::-webkit-scrollbar-thumb {
	background: $dark-gray;
}
 
body::-webkit-scrollbar-thumb:hover {
  background: $darker-gray;
}