@import '../../variables.scss';

.userArticles {
	width: 100vw;
	display: flex;
}

.editArticle, .userArticlesList {
	padding: 20px;
	flex: 5;
	height: calc(100vh - 76px);
	overflow: auto;

	// Firefox scrollbar
	scrollbar-color: $dark-gray $light-gray;
	scrollbar-width: thin;
}

.editArticle::-webkit-scrollbar, .userArticlesList::-webkit-scrollbar {
	width: 5px;
}
  
.editArticle::-webkit-scrollbar-track, .userArticlesList::-webkit-scrollbar-track {
	background: $light-gray;
}
  
.editArticle::-webkit-scrollbar-thumb, .userArticlesList::-webkit-scrollbar-thumb {
	background: $dark-gray;
}
 
.editArticle::-webkit-scrollbar-thumb:hover, .userArticlesList::-webkit-scrollbar-thumb:hover {
  background: $darker-gray;
}

.userArticlesList {
	flex: 2;
	padding: 0px;
}

@media (max-width: 1100px) {
	.userArticlesList {
		flex: 3;
	}
}

@media (max-width: 900px) {
	.userArticles {
		flex-direction: column;
	}

	.userArticlesList {
		display: flex;
		height: unset;

		&::after {
			content: '';
			flex: 0 0 .1px; 
		}
	}

	.editArticle {
		height: fit-content;
	}
}